<div class = "menu">
  <button color="primary" routerLink = "/cursos/new" class = "menu-button">Curso</button>
  <button color="primary" routerLink = "/disciplinas/new" class = "menu-button">Disciplina</button>
  <button color="primary" routerLink = "/alunos/new" class = "menu-button">Aluno</button>
  <button color="primary" routerLink = "/professores/new" class = "menu-button">Professor</button>
</div>

<form class="full-width" [formGroup]="cursosForm">
  <mat-form-field appearance="outline">
    <mat-label> Nome </mat-label>
    <input
      matInput
      type="text"
      formControlName="nome"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label> Descrição </mat-label>
    <input
    matInput
    type="text"
    formControlName="descricao"/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label> Carga Horária </mat-label>
    <input
     matInput
     type="text"
     formControlName="cargaHoraria"/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label> Preço </mat-label>
    <input
     matInput
     type="text"
     formControlName="preco"/>
  </mat-form-field>

  <div class = "buttons">
    <button
      mat-raised-button
      color="primary"
      (click)="!isEdit ? create() : save()"
      [disabled]="!cursosForm.valid"
    >
      {{ (isEdit?'Atualizar':'Salvar') }}
    </button>
    <button mat-raised-button type = "reset" color="primary"> Cancelar </button>
  </div>
</form>
