form {
  margin: 1.5% auto;
  width: 75%;
}

mat-form-field {
  width: 30.333%;
  margin: 0 1.5%;
}

.big-input {
  width: 63.6%
}

.buttons {
  margin-top: 2.5%;
  text-align: center;
}

.buttons button {
  border-radius: 7.5px;
  font-size: 14px;
  font-weight: 600;
  margin: 0 1.5%;
  width: 12.5%;
}
