<div class = "menu">
  <button color="primary" routerLink = "/cursos" class = "menu-button">Curso</button>
  <button color="primary" routerLink = "/disciplinas" class = "menu-button">Disciplina</button>
  <button color="primary" routerLink = "/alunos" class = "menu-button">Aluno</button>
  <button color="primary" routerLink = "/professores" class = "menu-button">Professor</button>
  <button color="primary" routerLink = "/coordenadores" class = "menu-button">Coordenador</button>
</div>
<router-outlet></router-outlet>
